@model WebSocialNetwork.Entities.Usuario

@{
    ViewData["Title"] = "ConfiguracionPerfil";
}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h2 class="mb-0">Mi perfil</h2>
        <hr>
        <div class="card shadow-none border">
            <div class="card-header">
                <h6 class="mb-0">Información de usuario</h6>
            </div>
            <div class="card-body">
                <form asp-action="ConfiguracionPerfil" asp-controller="Cuentas" class="row g-3" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ID_Usuario" />
                    <div class="row align-items-center mt-1">
                        <div class="col-2">
                            <div class="user-setting d-flex align-items-center">
                                <img src="@Model.UrlFotoPerfil" height="70" width="70" style=" border-radius: 100%; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-8">
                            <label class="form-label">Imagen de perfil</label>
                            <input asp-for="UrlFotoPerfil" type="file" class="form-control" name="imgPerfil" id="imgPerfil" accept="image/*">
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <label class="form-label">Nombre</label>
                        <input asp-for="Nombre" type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label class="form-label">Primer Apellido</label>
                        <input asp-for="Apellido1" type="text" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label asp-for="Correo" class="form-label">Correo Electrónico</label>
                        <input asp-for="Correo" type="text" class="form-control"  readonly style="background-color:#e9ecef">
                    </div>
                    <div class="col-6">
                        <label asp-for="Apellido2" class="form-label">Segundo Apellido</label>
                        <input asp-for="Apellido2"  type="text" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input asp-for="FechaNacimiento" type="date" class="form-control datepicker">
                    </div>
                    <div class="col-6 form-group">
                        
                            <label class="form-label" for="">Género</label>
                            @Html.DropDownListFor(m => Model.ID_Genero, ViewBag.Generos as SelectList, "Seleccione un género.", htmlAttributes: new { @class = "form-control", @required = "required" })


                        
                    </div>



                    <div class="col-12">
                        <label class="form-label">Sobre mi</label>
                        <textarea asp-for="SobreMi"  class="form-control" rows="4" cols="4" placeholder="Describete a ti mismo..."></textarea>
                    </div>

                    <div class="text-start">
                        <button type="submit" class="btn btn-primary px-4">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
